@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background: #effcfd;
  /* overflow: scroll; */
}
.app {
  height: 92%;
  overflow-x: hidden;
}
.home {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin-top: 50px;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto auto;
  gap: 50px;
}
img {
  width: 180px;
  height: 140px;
  padding-bottom: 5px;
  border-bottom: 1px solid #096372;
  background-size: contain;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
}
.price {
  width: 100%;
  font-size: 15px;
  margin: 5px 0 5px 0;
}
.description {
  padding-top: 5px;
  max-height: calc(1.3rem * 2);
  overflow: hidden;
  position: relative;
}
.description::after {
  content: "...";
  font-weight: bold;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
button {
  width: 100%;
  padding: 8px 24px;
  border-radius: 3px;
  border: 2px solid #096372;
  background: #e3fafc;
  color: #0b7285;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
button:hover {
  background: #c5f6fa;
}
.footer {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #096372;
  position: absolute;
  bottom: 0;
}
.borderBottom {
  border-bottom: 4px solid #096372;
  border-radius: 4px;
}

.hidden {
  display: none;
}
.myCart,
.title {
  width: 100%;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background: #c5f6fa;
}
.homeIcon,
.cartIcon {
  padding: 8px;
}
.homeIcon:hover,
.cartIcon:hover {
  transition: 0.3s;
  background: #e3fafc;
}
@media (max-width: 480px) {
  .app {
    overflow: hidden;
  }
  .home {
    grid-template-columns: 150px 150px;
    grid-template-rows: auto auto;
    gap: 25px;
    margin-top: 0px;
  }
  img {
    width: 150px;
    height: 110px;
  }
  .card {
    padding: 10px;
  }
  .price {
    font-size: 14px;
  }
  .description {
    font-size: 11.5px;
  }
}
